= render 'useful_links'
%h1#title Listing links

= search_form_for ransack, :html => {:id=>'search_link'} do |f|
  = f.text_field :url_cont, :placeholder => 'Url...'
  = f.submit

-if flash[:notice]
  %p.notice
    = flash[:notice]

-unless links.any?
  %div.tc
    You don't have any links.
-else
  %table.links
    %tr
      %th Id
      %th Url
      %th Redirect Url
      %th Action
    - links.each do |link|
      %tr
        %td.tc= link.id
        %td= link.url
        %td= link_to link_show_url(link), link_show_url(link), :target => "_blank", :class=> 'blue'
        %td= link_to 'Delete', admin_link_url(link.id), method: :delete, data: { confirm: 'Are you sure?' }

  = will_paginate links